* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color:#00FF00;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center {
    width: auto;
    height: auto;
    padding: 1%;
    border: 1px solid #00FF00;
}